@media (max-width: 1199px) {
	header {
	    .logo {
	        margin-right: 20px;
	        a {
	        	img {
	        		height: 35px;
	        	}
	        }
	    }
	    ul.main-menu {
	        li {
	            margin-right: 13px;
	            a {
	                font-size: 12px;
	                line-height: 18px;
	            }
	        }
	    }
	    ul.l-login {
	        li {
	            margin-right: 15px;
	            a {
	                font-size: 12px;
	                line-height: 18px;
	            }
	        }
	    }
	}
	#main {
		.css-home {
			.bg-about {
	            .img {
	            	img {
	            		width: 550px;
	            	}
	            }
	        }
		}
		.css-services {
	        .box-services {
	            .mix {
	                .tbl {
	                    .cell {
	                        &.w-img {
	                            width: 320px;
	                            padding-right: 40px;
	                        }
	                        &.w-text {
	                            padding-right: 40px;
	                            &:before {
	                                height: 20px;
	                            }
	                            &:after {
	                                height: 20px;
	                            }
	                            .t-mix {
	                                margin-bottom: 15px;
	                                a {
	                                    font-size: 17px;
	                                    line-height: 24px;
	                                }
	                            }
	                        }
	                        &.btn-mix {
	                            width: 140px;
	                            padding-left: 20px;
	                            padding-right: 20px;
	                        }
	                    }
	                }
	            }
	        }
	    }
		.css-account {
			.left-account {
				ul.l-account {
					li {
						a {
							font-size: 14px;
							line-height: 20px;
							padding: 15px 10px 15px 15px;
							img {
								width: 20px;
								&.img {
									margin-right: 8px;
								}
							}
						}
					}
				}
			}
			.right-account {
				.box-my-reward {
	                padding: 20px;
	                ul.l-my-reward {
	                    li {
	                        margin-right: 20px;
	                        .img-my-reward {
	                            img {
	                                width: 35px;
	                            }
	                        }
	                    }
	                }
	            }
				.box-account {
					.bdy {
						width: 260px;
					}
				}
				.box-booking {
	                margin-bottom: 40px;
	                padding: 40px 15px 60px;
	                .item-booking {
	                    .form-booking {
	                        padding: 20px 20px;
	                    }
	                    .tbl-booking {
	                        .cell {
	                            &.w1 {
	                                padding-left: 15px;
	                            }
	                            &.w2 {
	                                width: 140px;
	                            }
	                            &.w3 {
	                                width: 90px;
	                            }
	                            &.w4 {
	                                width: 110px;
	                            }
	                            &.w5 {
	                                padding-right: 20px;
	                                width: 70px;
	                            }
	                        }
	                    }
	                }
	            }
			}
		}
	}
}