@media (max-width: 767px) {
	button.hvr-button {
		font-size: 12px;
		line-height: 15px;
		padding: 8px 20px;
		min-width: 140px;
	}
	.bootstrap-select .dropdown-toggle .filter-option {
		font-size: 14px;
	}

	.ui-widget.ui-widget-content {
	    width: 290px;
	    padding: 10px 10px;
	}
	#menu {
	    width: 240px;
	    padding: 40px 25px;
	    .close-menu {
	    	top: 10px;
	    }
	    .l-menu {
	        ul {
	            li {
	                margin-bottom: 15px;
	                padding-bottom: 15px;
	                a {
	                	font-size: 13px;
	                	line-height: 17px;
	                }
	            }
	        }
	    }
	}

	header {
		.menu {
			margin-right: 15px;
		}
		.logo {
			a {
				img {
					height: 30px;
				}
			}
		}
		ul.l-login {
			li {
				&:nth-child(1), &:nth-child(2) {
					display: none;
				}
				&:nth-child(3) {
	                display: inline-block;
	            }
				a {
					i {
						font-size: 17px;
					}
				}
			}
		}
	}
	.box-wa {
		right: 15px;
		ul.l-wa {
	        li {
	            &.bg-wa {
	                a {
	                    .bg-chat {
	                    	display: none;
	                    }
	                }
	            }
	        }
	    }
	}
	footer {
		ul.l-footer {
			li {
				display: block;
				margin-right: 0;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.t4 {
			margin-top: 20px;
		}
	}
	#main {
		.box-select {
	        .input-select {
	            height: 42px;
	            font-size: 12px;
	            line-height: 20px;
	            padding: 10px 30px 10px 15px;
	        }
	        .img-select {
	            top: 9px;
	            right: 10px;
	            img {
	            	width: 14px;
	            }
	        }
	        .option-select {
	            top: calc(100% - 16px);
	            ul {
	                li {
	                    a {
	                        font-size: 12px;
	                        line-height: 18px;
	                        padding: 8px 20px;
	                    }
	                }
	            }
	        }
	    }
		.title-global {
	        font-size: 18px;
	        line-height: 25px;
	        margin-bottom: 20px;
	    }
	    .banner-global {
	        height: 300px;
	        .css-breadcrumb {
	            top: 10px;
	            ul {
	                li {
	                    font-size: 11px;
	                    line-height: 15px;
	                    margin-right: 5px;
	                    a {
	                        font-size: 11px;
	                        line-height: 15px;
	                    }
	                }
	            }
	        }
	        .title {
	            font-size: 18px;
	            line-height: 25px;
	        }
	        .bdy {
	            width: 100%;
	            margin-top: 10px;
	            p {
	                font-size: 13px;
	                line-height: 17px;
                }
	        }
	        .price {
	        	font-size: 16px;
	        	line-height: 24px;
	        }
	        .link {
	        	margin-top: 10px;
	        }
	    }
	    .css-product {
	        padding: 40px 0;
	        &.css-detail {
	        	padding-bottom: 40px;
	        	.slider-thumb-product {
	        		margin-top: 10px;
	        		.item {
	        			padding: 0 5px;
	        		}
	        		.slick-prev {
	                    left: -10px;
	                    width: 30px;
	                    height: 30px;
	                    background: $black;
	                    border-radius: 0;
	                    z-index: 50;
	                    opacity: 1;
	                    @include transition(all 0.3s);
	                    &:before {
	                        color: white;
	                        @include transition(all 0.3s);
	                        content: "\f053";
	                        font-family: "Font Awesome 6 Free";
	                        font-weight: 900;
	                        font-size: 15px;
	                    }
	                }
	                .slick-next {
	                    right: -10px;
	                    width: 30px;
	                    height: 30px;
	                    opacity: 1;
	                    @include transition(all 0.3s);
	                    background: $black;
	                    border-radius: 0;
	                    z-index: 50;
	                    &:before {
	                        color: white;
	                        @include transition(all 0.3s);
	                        content: "\f054";
	                        font-family: "Font Awesome 6 Free";
	                        font-weight: 900;
	                        font-size: 15px;
	                    }
	                }
	        	}
	        	.pl30 {
	        		padding-left: 0;
	                .box-category {
	                	margin-top: 20px;
	                    padding: 8px 15px;
	                    margin-bottom: 20px;
	                }
	                .nm-detail {
	                    font-size: 16px;
	                    line-height: 25px;
	                    margin-bottom: 5px;
	                }
	                .price-detail {
	                    font-size: 16px;
	                    line-height: 25px;
	                    margin-bottom: 20px;

	                }
	                .desc-detail {
	                    margin-bottom: 20px;
                        line-height: 20px;
                        .tbl {
                        	.cell {
                        		&.w100 {
                        			width: 120px;
                        		}
                        	}
                        }
                        p {
                        	line-height: 20px;
                        }
	                }
	                ul.l-btn {
	                    li {
	                        margin-right: 10px;
	                        a {
	                            button.hvr-button {
	                                min-width: 120px;
	                                font-size: 12px;
	                                line-height: 15px;
	                                padding: 10px 15px;
	                            }
	                        }
	                    }
	                }
	            }
	        	ul.nav-product-detail {
	                margin: 40px 0 0;
	                li {
	                	a {
	                		padding: 0 15px 10px;
	                	}
	                }
	            }
	            .tab-product-detail {
	                margin-bottom: 40px;
	            }
	        	.t-product {
	                font-size: 16px;
	                line-height: 24px;
	                margin-bottom: 15px;
	            }
	            .slider-related {
	            	.item-product {
	            		padding: 0 10px;
	            	}
	                .slick-prev {
	                    left: -10px;
	                    &:before {
	                        font-size: 14px;
	                    }
	                }
	                .slick-next {
	                    right: -10px;
	                    &:before {
	                        font-size: 14px;
	                    }
	                }
	            }
	        }
	        .t-filters {
	            font-size: 14px;
	            line-height: 20px;
	        }
	        .reset {
	            font-size: 10px;
	            line-height: 13px;
	        }
	        .accordion-filter {
	            margin-top: 10px;
	            margin-bottom: 20px;
	        }
	        ul.nav-product {
	            margin-bottom: 20px;
	            display: block;
	            margin-left: -15px;
	            margin-right: -15px;
	            margin-bottom: 30px;
	            li {
	                flex: 0 0 100%;
	                max-width: 100%;
	                padding-right: 15px;
	                padding-left: 15px;
	                margin-bottom: 10px;
	                a {
	                	height: auto;
	                    padding: 15px 20px;
	                    font-size: 14px;
	                    line-height: 20px;
	                    img {
	                        width: 10%;
	                        margin-left: 10px;
	                    }
	                }
	            }
	        }
	        .item-product {
                margin-bottom: 20px;
                a {
                    .nm {
                        font-size: 13px;
                        line-height: 18px;
                        margin: 10px 0 0;
                    }
                    .price {
                        margin-bottom: 8px;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    .bdy {
                        margin-bottom: 10px;
                        p {
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }
                    .txt {
                        font-size: 11px;
                        line-height: 14px;
                    }
                }
            }
	    }
	    .css-services {
	    	padding: 40px 0;
	        .t1 {
	            font-size: 16px;
	            line-height: 24px;
	            margin-bottom: 20px;
	        }
	        .t2 {
	            margin-bottom: 30px;
	        }
	        .in-services {
	            margin-bottom: 40px;
	            .title {
	            	margin-top: 20px;
	                font-size: 16px;
	                line-height: 24px;
	            }
	            .address {
	                margin-bottom: 15px;
	            }
	        }
	        .banner-servies {
	            .title {
	                font-size: 16px;
	                line-height: 24px;
	                margin-bottom: 5px;
	            }
	            .text {
	            	margin-bottom: 10px;
	            }
	        }
	        .bg-services-product {
	            padding: 40px 0 60px;
	            .t-product {
	                font-size: 16px;
	                line-height: 24px;
	                margin-bottom: 20px;
	            }
	            .slider-services {
	                .slick-prev {
					    left: -5px;
		                width: 30px;
		                height: 30px;
		            	background: white;
		            	border-radius: 50%;
		            	z-index: 50;
		            	opacity: 1;
		            	@include transition(all 0.3s);
		                &:before {
		                    color: $black;
		                    @include transition(all 0.3s);
		                    content: "\f053";
		                    font-family: "Font Awesome 6 Free";
		                    font-weight: 900;
		                    font-size: 14px;
		                }
		            }
		            .slick-next {
		            	right: -5px;
		            	width: 30px;
		            	height: 30px;
		            	opacity: 1;
		            	@include transition(all 0.3s);
		            	background: white;
		            	border-radius: 50%;
		            	z-index: 50;
		                &:before {
		                    color: $black;
		                    @include transition(all 0.3s);
		                    content: "\f054";
		                    font-family: "Font Awesome 6 Free";
		                    font-weight: 900;
		                    font-size: 14px;
		                }
		            }
	            }
	        }
	        .controls {
	            margin-bottom: 10px;
	            .control {
	            	margin-bottom: 10px;
	                padding: 7px 10px;
	                height: 50px;
	                font-size: 11px;
	                line-height: 15px;
	                img {
	                	width: 14%;
	                }
	            }
	        }
	    	.box-services {
	            .mix {
	                .tbl {
	                	display: block;
	                    .cell {
	                    	display: block;
	                        &.w-img {
	                        	margin-bottom: 15px;
	                            width: 100%;
	                            padding-right: 0;
	                            img {
	                            	height: 120px;
	                            	object-fit: cover;
	                            	border-bottom-left-radius: 0;
	                            	border-top-right-radius: 10px;
	                            }
	                        }
	                        &.w-text {
	                        	padding: 0 15px;
	                            &:before {
	                            	display: none;
	                            }
	                            &:after {
	                            	display: none;
	                            }
	                            border-right: 0;
	                            .t-mix {
	                                margin-bottom: 7px;
	                                a {
	                                    font-size: 15px;
	                                    line-height: 20px;
	                                }
	                            }
	                            .bdy-mix {
	                            	margin-bottom: 10px;
	                            	p {
	                            		height: auto;
	                            		font-size: 12px;
	                            		line-height: 17px;
	                            	}
	                            }
	                        }
	                        &.btn-mix {
	                            width: 100%;
	                            padding-bottom: 15px;
	                        }
	                    }
	                }
	            }
	        }
	    }
	    ul.l-pagination {
    		text-align: center;
    		margin: 30px 0 0;
    	}
	    .css-appo {
	        padding-bottom: 40px;
	        .box-form-appo {
	            margin-top: 30px;
	            ul.css-radio {
	            	li {
	            		margin-bottom: 5px;
	            	}
	            }
	            .title-appo {
	                font-size: 15px;
	                line-height: 20px;
	                margin-bottom: 15px;
	            }
	        }
            .t-thank {
	            font-size: 17px;
	            line-height: 25px;
	            margin-bottom: 20px;
	        }
	        .bdy-thank {
	            margin-bottom: 30px;
	        }
	        .img-success {
	            margin-top: 10px;
	            margin-bottom: 20px;
	            img {
	                width: 40px;
	            }
	        }
            ul.css-breadcrumb {
            	padding: 20px 0 30px;
                li {
                    font-size: 11px;
                    line-height: 15px;
                    margin-right: 5px;
                    a {
                        font-size: 11px;
                        line-height: 15px;
                    }
                }
            }
	        .img-appo {
	        	display: none;
	        }
	        .title {
	            font-size: 16px;
	            line-height: 24px;
	            margin-bottom: 15px;
	        }
	        .bdy {
	            margin-bottom: 20px;
	            padding-right: 0;
	        }
	        ul.l-time {
	            li {
	                margin-right: 10px;
	                a {
	                    font-size: 13px;
	                    line-height: 15px;
	                    min-width: 60px;
	                    padding: 12px 12px;
	                }
	            }
	        }
	        .form-date {
	            .abs {
	                right: 15px;
	                img {
	                    width: 20px;
	                }
	            }
	        }
	        .button-appo {
	            margin-top: 30px;
	        }
	    }
		.css-home {
			.bg-service {
				.slider-home-services {
					display: block;
				}
			}
			.slider-home {
	            .item {
	                .banner-home {
	                    height: 400px;
	                    .abs-banner {
	                        top: calc(50% + 20px);
	                        .t-banner {
	                        	margin-bottom: 10px;
	                            font-size: 18px;
	                            line-height: 25px;
	                        }
	                        .bdy-banner {
	                            border-left: 0;
	                            padding-left: 0;
	                            margin-bottom: 30px;
	                            p {
	                                font-size: 11px;
	                                line-height: 15px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
			.bg-home {
	            height: 500px;
	            margin: 5px 0;
	            .abs1 {
	                bottom: 270px;
	            }
	            .abs2 {
	            	bottom: 20px;
	            }
	            .img1 {
	                width: 100%;
	                height: 50%;
	                padding-bottom: 5px;
	            }
	            .img2 {
	                width: 100%;
	                height: 50%;
	                top: inherit;
	                bottom: 0;
	            }
	            .pl70 {
	                padding-left: 0;
	            }
	            .t1 {
	                font-size: 13px;
	                line-height: 17px;
	            }
	            .t2 {
	                font-size: 16px;
	                line-height: 24px;
	            }
	        }
	        .bg-about {
	            padding: 0 0 40px;
	            .img {
	            	display: none;
	            }
	            .img2 {
	            	display: block;
	            	margin-bottom: 20px;
	            	img {
	            		width: 100%;
	            	}
	            }
	            .t1 {
	                font-size: 18px;
	                line-height: 25px;
	                margin-bottom: 20px;
	            }
	        }
			.bg-choose {
	            .bdr-choose {
	                padding: 30px 30px 0;
	            }
	            .in {
	            	margin-bottom: 30px;
	                .t1 {
	                    font-size: 18px;
	                    line-height: 26px;
	                }
	            }
	        }
			.bg-service {
	            padding: 40px 0;
	            .text-link {
	            	text-align: center;
	            	a {
	            		display: inline-block;
	            		background: white;
	            		color: $black;
	            		padding: 10px 12px;
	            		img {
	                        &.img1 {
	                            display: inline-block;
	                        }
	                        &.img2 {
	                        	display: none;
	                        }
	                    }
	            	}
	            }
	            .mobile-services {
	            	display: none;
	            }
	            a {
	            	margin-bottom: 20px;
	                .tbl {
	                	.cell {
	                		&.img {
	                			width: 150px;
	                		}
	                		&.text {
	                			padding: 15px 15px;
	                			.t1 {
	                				font-size: 12px;
	                				line-height: 17px;
	                				margin-bottom: 5px;
	                			}
	                			.bdy {
	                				p {
	                					font-size: 10px;
	                					line-height: 15px;
	                				}
	                			}
	                		}
	                	}
	                }
	            }
	        }
			.bg-featured {
	            padding: 40px 0;
	            .slider-featured {
	            	.item {
	            		padding: 0;
	            	}
	            	.slick-prev {
					    left: -10px;
					    top: 20%;
		                width: 30px;
		                height: 30px;
		            	background: white;
		            	border-radius: 50%;
		            	z-index: 50;
		            	opacity: 1;
		            	@include transition(all 0.3s);
		                &:before {
		                    color: $black;
		                    @include transition(all 0.3s);
		                    content: "\f053";
		                    font-family: "Font Awesome 6 Free";
		                    font-weight: 900;
		                    font-size: 14px;
		                }
		            }
		            .slick-next {
		            	right: -10px;
		            	top: 20%;
		            	width: 30px;
		            	height: 30px;
		            	opacity: 1;
		            	@include transition(all 0.3s);
		            	background: white;
		            	border-radius: 50%;
		            	z-index: 50;
		                &:before {
		                    color: $black;
		                    @include transition(all 0.3s);
		                    content: "\f054";
		                    font-family: "Font Awesome 6 Free";
		                    font-weight: 900;
		                    font-size: 14px;
		                }
		            }
	            }
	            .pad {
	                padding: 30px 25px 0;
	                .t2 {
	                    font-size: 16px;
	                    line-height: 24px;
	                }
	                ul.l-featured {
	                	margin-bottom: 30px;
	                    li {
	                        margin-bottom: 8px;
	                        font-size: 12px;
	                        line-height: 15px;
	                        img {
	                            top: -2px;
	                            margin-right: 5px;
	                            height: 10px;
	                        }
	                    }
	                }
	            }
	            .text-link {
	            	margin-top: 0;
	            	text-align: center;
	            	a {
	            		display: inline-block;
	            		background: $black;
	            		color: white;
	            		padding: 10px 12px;
	            		img {
	                        &.img1 {
	                            display: inline-block;
	                        }
	                        &.img2 {
	                        	display: none;
	                        }
	                    }
	            	}
	            }
	        }
			.bg-testi {
	            padding: 40px 0;
	            .slider-testi {
	            	.item {
	                    .in {
	                        padding: 20px 25px;
	                    }
	                }
	            	.slick-prev {
					    left: -5px;
		                width: 30px;
		                height: 30px;
		            	background: white;
		            	border-radius: 50%;
		            	z-index: 50;
		            	opacity: 1;
		            	@include transition(all 0.3s);
		                &:before {
		                    color: $black;
		                    @include transition(all 0.3s);
		                    content: "\f053";
		                    font-family: "Font Awesome 6 Free";
		                    font-weight: 900;
		                    font-size: 14px;
		                }
		            }
		            .slick-next {
		            	right: -5px;
		            	width: 30px;
		            	height: 30px;
		            	opacity: 1;
		            	@include transition(all 0.3s);
		            	background: white;
		            	border-radius: 50%;
		            	z-index: 50;
		                &:before {
		                    color: $black;
		                    @include transition(all 0.3s);
		                    content: "\f054";
		                    font-family: "Font Awesome 6 Free";
		                    font-weight: 900;
		                    font-size: 14px;
		                }
		            }
	            }
	        }
			.bg-partner {
	            padding: 40px 0 50px;
	            .slider-partner {
	                .item {
	                    padding: 0 15px;
	                    img {
	                    	width: 60px;
	                    }
	                }
	                .slick-dots {
	                    bottom: -40px;
	                    li {
	                        width: 40px;
	                        button {
	                            width: 40px;
	                        }
	                    }
	                }
	            }
	        }
	        .bg-app {
	            padding: 20px 0 60px;
	            .title-global {
	                margin-bottom: 20px;
	            }
	            ul.l-app {
	                li {
	                    margin-right: 20px;
	                    a {
	                    	img {
	                    		width: 120px;
	                    	}
	                    }
	                }
	            }
	            .bdy {
	                margin-bottom: 20px;
	            }
	            .img {
	            	display: none;
	            }
	            .img2 {
	            	margin-bottom: 30px;
	            	display: block;
	            	img {
	            		width: 200px;
	            	}
	            }
	        }
			.bg-email {
	            padding: 40px 0;
	            .in {
	                padding: 20px 30px;
	                &:before {
	                	display: none;
	                }
	                .t1 {
	                	font-size: 17px;
	                	line-height: 25px;
	                }
	                .t2 {
	                	margin-bottom: 50px;
	                	font-size: 13px;
	                	line-height: 18px;
	                }
	                .link {
	                	margin-top: 20px;
	                	button.hvr-button {
	                		min-width: 200px;
                        	padding: 10px 20px;
	                	}
	                }
	            }
	        }
		}
		.css-gallery {
			.bg-review {
	            padding: 30px 0;
	            .box-filter {
	                margin-bottom: 30px;
	                .in-filter {
	                    width: 150px;
	                    .t {
	                        font-size: 14px;
	                        line-height: 18px;
	                    }
	                    .icon {
	                        top: 5px;
	                        img {
	                            width: 15px;
	                        }
	                    }
	                    .select-filter {
	                        font-size: 13px;
	                        padding: 0 0 5px;
	                    }
	                }
	            }
	            .item-review {
	                .slider-review {
	                    height: 120px;
	                    .slick-prev {
	                        left: 5px;
	                        width: 15px;
	                        height: 15px;
	                        &:before {
	                            font-size: 10px;
	                        }
	                    }
	                    .slick-next {
	                        right: 5px;
	                        width: 15px;
	                        height: 15px;
	                        &:before {
	                            font-size: 10px;
	                        }
	                    }
	                    .item {
	                        img {
	                            height: 120px;
	                        }
	                    }
	                }
	                .mb20 {
	                    margin-bottom: 20px;
	                }
	                .pad-review {
	                    padding: 5px 10px 10px;
	                    .date {
	                        text-align: left;
	                        margin: 2px 0 5px;
	                    }
	                    .t {
	                        font-size: 11px;
	                        line-height: 15px;
	                        height: 30px;
	                    }
	                    .desc {
	                        &.h100 {
	                            p {
	                                height: 45px;
	                            }
	                        }
	                        p {
	                            height: 103px;
	                            font-size: 11px;
	                            line-height: 15px;
	                        }
	                    }
	                }
	            }
	            .abs {
	                top: 50px;
	            }
	            .img-review {
	                img {
	                    height: 100px;
	                }
	            }
	            .mb60 {
	                margin-bottom: 40px;
	            }
	            .mt30 {
	                margin-top: 0;
	            }
	            .mt60 {
	                margin-top: 0;
	            }
	            .mt90 {
	                margin-top: 0;
	            }
	            .t-review {
	                font-size: 16px;
	            	line-height: 24px;
	            	margin-bottom: 5px;
	                left: 0;
	                top: 0;
	            }
	            .abs-review {
	            	left: 0;
	            	margin-bottom: 20px;
	            	position: relative;
	            }
	        }
	        .bg-gallery {
	        	padding: 40px 0;
	        }
	        .t1 {
	            font-size: 16px;
	            line-height: 24px;
	            margin-bottom: 15px;
	        }
	        .img-big {
	            a {
	                img {
	                    height: 200px;
	                    &.video {
	                        width: 50px;
	                        height: 50px;
	                    }
	                }
	            }
	        }
	        .img-small {
	            a {
	                img {
	                    height: 100px;
	                    &.video {
	                        width: 30px;
	                        height: 30px;
	                    }
	                }
	            }
	        }
	    }
		.css-about {
	        padding: 30px 0 40px 0;
	        .img {
	        	margin-bottom: 20px;
	        }
	        .t1 {
	            font-size: 16px;
	            line-height: 24px;
	            margin-bottom: 10px;
	            &.mb80 {
	                margin-bottom: 10px;
	            }
	        }
	        .mb80 {
	            margin-bottom: 30px;
	        }
	        ul.l-values {
	        	display: block;
	            li {
	            	flex: 100%;
	                max-width: 100%;
	                .img-values {
	                    img {
	                        height: 200px;
	                    }
	                }
	                .abs-values {
	                    bottom: 5px;
	                    padding: 0 15px;
	                }
	            }
	        }
	        .item-services {
	        	margin-bottom: 20px;
	        }
	    }
	    .css-auth {
	        .banner {
	            padding: 70px 0;
	        }
	        .title {
	            font-size: 20px;
	            line-height: 30px;
	        }
	        .text-auth {
	            margin-bottom: 20px;
	            font-size: 14px;
	            line-height: 20px;
	        }
	        .text-forgot {
	            margin-bottom: 20px;
	            top: -10px;
	            color: $gold;
	            font-size: 14px;
	            line-height: 20px;
	        }
	        ul.l-auth {
	            margin: 0 0 40px;
	            padding: 0;
	            li {
	            	display: block;
	                margin-right: 0;
	                margin-bottom: 10px;
	                &:last-child {
	                	margin-bottom: 0;
	                }
	            }
	        }
	    }
	    .css-buy {
	    	&.css-buy-detail {
	            .pad60 {
	                padding: 40px 0;
	            }
	            .price {
	            	margin-top: 15px;
	                font-size: 17px;
	                line-height: 24px;
	            }
	            .box-desc {
	                .nm {
	                    font-size: 16px;
	                    line-height: 22px;
	                }
	            }
	            .link {
	            	margin-bottom: 10px;
	                a {
	                	button.hvr-button {
	                		min-width: 150px;
	                	}
	                }
	            }
	            ul.l-buy {
	                li {
	                	display: block;
	                    margin-right: 0;
	                    margin-bottom: 10px;
	                    &:last-child {
	                    	margin-bottom: 0;
	                    }
	                    a {
	                        padding: 0 30px 10px;
	                    }
	                }
	            }
	            .box-content-buy {
	                padding: 30px 0;
	                .t {
	                    font-size: 15px;
	                    line-height: 20px;
	                    margin-bottom: 20px;
	                }
	                .item-details {
	                    margin-bottom: 20px;
	                    .t-details {
	                        font-size: 12px;
	                        line-height: 16px;
	                    }
	                    .t2-details {
	                        font-size: 14px;
	                    }
	                }
	                .box-features {
	                    padding: 20px;
	                    ul.l-features {
	                        li {
	                            line-height: 22px;
	                            font-size: 14px;
	                        }
	                    }
	                }
	                .row {
	                    &.row30 {
	                        margin-left: -10px;
	                        margin-right: -10px;
	                        > div {
	                            padding-left: 10px;
	                            padding-right: 10px;
	                        }
	                    }
	                }
	                .item-accessories {
	                    margin-bottom: 15px;
	                    font-size: 14px;
	                    line-height: 20px;
	                    padding: 10px 15px;
	                }
	                .bdy-desc {
	                    p {
	                        font-size: 14px;
	                        line-height: 20px;
	                    }
	                }
	                .slider-gallery {
	                	margin-bottom: 5px;
	                	.slick-prev {
	                        left: 20px;
	                        width: 20px;
	                        height: 20px;
	                        &:before {
	                            font-size: 12px;
	                        }
	                    }
	                    .slick-next {
	                        right: 20px;
	                        width: 20px;
	                        height: 20px;
	                        &:before {
	                            font-size: 12px;
	                        }
	                    }
	                    .item-gallery-big {
	                        padding: 0 5px;
	                    }
	                }
	                .slider-thumb-gallery {
	                    .item-gallery {
	                        padding: 0 3px;
	                    }
	                }
	            }
	        }
	    	.banner-sell {
	            padding: 50px 0;
	            .t-sell {
	                font-size: 18px;
	                line-height: 24px;
	                margin-bottom: 15px;
	            }
	            .box-sell {
	                padding: 20px;
	                .t {
	                    font-size: 15px;
	                    line-height: 22px;
	                    margin-bottom: 15px;
	                }
	                .form-group {
	                    margin-bottom: 20px;
	                }
	            }
	            ul.l-sell {
	            	margin-bottom: 30px;
	                li {
	                    font-size: 14px;
	                    line-height: 20px;	                    &:before {
	                        top: 6px;
	                    }
	                }
	            }
	        }
	        .row {
	            &.row5 {
	                margin-left: -15px;
	                margin-right: -15px;
	                > div {
	                    padding-left: 15px;
	                    padding-right: 15px;
	                }
	            }
	        }
	        .item {
	            margin: 5px 0;
	            padding: 30px 0;
	            &.left {
	                &:before {
	                    width: 100%;
	                    right: calc(100% - 1px);
	                    height: 100%;
	                    background: #f6f6f6;
	                    position: absolute;
	                    top: 0;
	                    content: '';
	                }
	                &:after {
	                    width: 100%;
	                    left: calc(100% - 1px);
	                    height: 100%;
	                    background: #f6f6f6;
	                    position: absolute;
	                    top: 0;
	                    content: '';
	                }
	            }
	            &.right {
	                &:before {
	                    width: 100%;
	                    left: calc(100% - 1px);
	                    height: 100%;
	                    background: #f6f6f6;
	                    position: absolute;
	                    top: 0;
	                    content: '';
	                }
	                &:after {
	                    width: 100%;
	                    right: calc(100% - 1px);
	                    height: 100%;
	                    background: #f6f6f6;
	                    position: absolute;
	                    top: 0;
	                    content: '';
	                }
	            }
	            &.active {
	                .link {
	                    a {
	                        button.hvr-button {
	                            color: white;
	                            background: $black;
	                        }
	                    }
	                }
	                .img {
	                    &.img1 {
	                        display: none;
	                    }
	                    &.img2 {
	                        display: block;
	                    }
	                }
	            }
	            .img {
	                &.img2 {
	                    display: none;
	                }
	                margin: 0 auto 25px;
	                img {
	                    max-width: 100%;
	                }
	            }
	            .link {
	                a {
	                    display: inline-block;
	                    button.hvr-button {
	                        border-radius: 5px;
	                        border-color: $black;
	                        background: transparent;
	                        color: $black;
	                        &:hover {
	                            color: white;
	                            background: $black;
	                        }
	                    }
	                }
	            }
	        }
	        .row {
	            &.resp-row5 {
	                margin-left: -5px;
	                margin-right: -5px;
	                > div {
	                    padding-left: 5px;
	                    padding-right: 5px;
	                }
	            }
	        }
	    	.pad80 {
	            padding: 40px 0;
	        }
	        .item-used {
	            margin-bottom: 15px;
	            a {
	            	.model {
	                    font-size: 11px;
	                    line-height: 14px;
	                    min-width: 90px;
	                    padding: 8px;
	                }
	                .nm {
	                    font-size: 13px;
	                    line-height: 17px;
	                }
	                .price {
	                    font-size: 11px;
	                    line-height: 14px;
	                }
	                padding: 10px 0;
	                .pad20 {
	                    padding: 0 10px;
	                }
	            }
		    }
	    }
	    .css-account {
	    	padding: 0 0 30px;
			.left-account {
				margin-bottom: 50px;
				.box-menu-account {
					display: block;
					ul.l-account-resp {
		                margin: 0;
		                padding: 0;
		                text-align: center;
		                li {
		                    display: block;
		                    a {
		                    	display: none;
		                    	&.active {
		                    		display: block;
		                    	}
		                        img {
		                            position: relative;
		                            top: -1px;
		                            &.img {
		                                margin-right: 10px;
		                                &.img2 {
		                                    display: none;
		                                }
		                            }
		                        }
		                        font-size: 14px;
		                        line-height: 20px;
		                        color: #ACACAC;
		                        font-family: 'poppinsmedium';
		                        padding: 17px 30px;
		                        @include transition(all 0.3s);
		                        position: relative;
		                        i {
		                        	position: absolute;
		                        	top: 47%;
		                        	@include transform(translateY(-50%));
		                        	right: 5px;
		                        }
		                        &:before {
		                        	width: 100%;
		                        	background: $black;
		                        	height: 100%;
		                        	left: calc(-100% + 1px);
		                        	content: '';
		                        	position: absolute;
		                        	top: 0;
		                        }
		                        &:after {
		                        	width: 100%;
		                        	background: $black;
		                        	height: 100%;
		                        	right: calc(-100% + 1px);
		                        	content: '';
		                        	position: absolute;
		                        	top: 0;
		                        }
		                        &.active {
		                            background: $black;
		                            color: white;
		                            img {
		                                &.img1 {
		                                    display: none;
		                                }
		                                &.img2 {
		                                    display: inline-block;
		                                }
		                            }
		                        }
		                    }
		                }
		            }
				}
				ul.l-account {
					display: none;
					position: relative;
					background: #F6F6F6;
					text-align: center;
					&:before {
                    	width: 100%;
                    	background: #F6F6F6;
                    	height: 100%;
                    	left: calc(-100% + 1px);
                    	content: '';
                    	position: absolute;
                    	top: 0;
                    }
                    &:after {
                    	width: 100%;
                    	background: #F6F6F6;
                    	height: 100%;
                    	right: calc(-100% + 1px);
                    	content: '';
                    	position: absolute;
                    	top: 0;
                    }
					&.open {
						display: block;
					}
					li {
						a {
							padding: 15px 25px;
							font-size: 14px;
							line-height: 20px;
							img {
								width: 18px;
								&.img {
									margin-right: 10px;
								}
							}
							&.active {
								display: none;
								color: #ACACAC;
								background: #F6F6F6;
							}
						}
					}
				}
			}
			.right-account {
				border: 0;
				padding: 0;
				.show-xs {
					display: block !important;
				}
				.hide-xs {
					display: none !important;
				}
				.btn-edit {
					margin-top: 25px;
					text-align: center;
					a {
						display: inline-block;
						.hvr-button {
							border-color: $black;
							background: $black;
							color: white;
							min-width: 140px;
							@include border-radius(0);
							&:hover {
								background: $gold;
								border-color: $gold;
							}
						}
					}
				}
				.box-profile-reward {
					text-align: center;
	                margin-bottom: 30px;
	                padding: 15px 20px;
	                .t1 {
	                    font-size: 24px;
	                    line-height: 30px;
	                }
	                .btn-reward {
	                	text-align: center;
	                	margin-top: 10px;
	                    a {
	                        color: $black;
	                        @include border-radius(5px);
	                        display: inline-block;
	                        font-size: 13px;
	                        line-height: 20px;
	                        letter-spacing: 0.5px;
	                        text-transform: uppercase;
	                        background: white;
	                        padding: 10px 25px;
	                        @include transition(all 0.3s);
	                        i {
	                            margin-left: 5px;
	                        }
	                        &:hover {
	                            background: $black;
	                            color: white;
	                        }
	                    }
	                }
	            }
	            .box-account {
	                padding: 20px 20px;
	                .name {
	                    font-size: 16px;
	                    line-height: 22px;
	                }
	                .bdy {
	                	margin-bottom: 15px;
	                }
	                .img-profile {
	                    top: -40px;
	                }
	            }
	            .title-account {
	                font-size: 15px;
	                line-height: 20px;
	                margin-bottom: 15px;
	                &.mt30 {
	                	margin-top: 30px;
	                }
	                &.mb20 {
	                    margin-bottom: 15px;
	                }
	            }
	            .mb70 {
	                margin-bottom: 30px;
	            }
	            .box-point {
	            	padding: 20px;
	            	&.mb0 {
	            		margin-bottom: 30px;
	            	}
	            }
	            .box-my-reward {
	                padding: 20px;
	                ul.l-my-reward {
	                    li {
	                    	margin-right: 15px;
	                        .t1 {
	                            margin-bottom: 10px;
	                        }
	                        .img-my-reward {
	                            img {
	                                width: 40px;
	                            }
	                        }
	                    }
	                }
	            }
	            ul.l-booking {
	                li {
	                    margin-right: 15px;
	                    a {
	                        .num {
	                            font-size: 13px;
	                            line-height: 16px;
	                            margin-bottom: 2px;
	                        }
	                        padding: 10px 50px 10px 15px;
	                        font-size: 12px;
	                        line-height: 14px;
	                    }
	                }
	            }
	            .box-booking {
	            	margin-bottom: 20px;
	                padding: 20px 10px 30px;
	                .t-show {
	                	display: block;
	                	margin-bottom: 10px;
	                	font-family: 'poppinsmedium';
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                        font-size: 12px;
                        line-height: 18px;
	                }
	            	.item-booking {
	            		.form-booking {
	                        padding: 10px 15px;
	                        .btn-booking {
	                            button.hvr-button {
	                                min-width: 100px;
	                            }
	                        }
	                        ul.l-time {
	                            li {
	                                margin-right: 10px;
	                                a {
	                                    font-size: 11px;
	                                    line-height: 16px;
	                                    min-width: 70px;
	                                    padding: 8px 12px;
	                                }
	                            }
	                        }
	                        .form-date {
	                            width: 100%;
	                        }
	                    }
	            		.tbl-booking {
	                    	&.tbl-hdr {
	                    		display: none;
	                    	}
	                    	&.tbl-bdy {
	                    		font-size: 13px;
	                    		line-height: 20px;
	                    		display: block;
	                    		position: relative;
	                    	}
	                    	.cell {
	                    		.show {
	                    			display: inline-block;
	                    			margin-right: 3px;
	                    			font-family: 'poppinsmedium';
	                    		}
	                    		display: block;
	                    		padding-left: 15px;
	                    		padding-right: 15px;
	                            &.w1 {
	                                padding-left: 15px;
	                                .t1 {
	                                	font-size: 13px;
	                                	line-height: 20px;
	                                }
	                                .t2 {
	                                	font-size: 9px;
	                                	line-height: 13px;
	                                	margin-bottom: 5px;
	                                }
	                            }
	                            &.w2 {
	                                width: 100%;
	                            }
	                            &.w3 {
	                                width: 100%;
	                            }
	                            &.w4 {
	                                width: 100%;
	                            }
	                            &.w5 {
	                                padding-right: 15px;
	                                width: 100%;
	                            }
	                            ul.l-edit {
	                            	position: absolute;
	                            	top: 12px;
	                            	right: 15px;
			                        li {
			                        	margin-right: 5px;
			                            a {
			                                font-size: 15px;
			                            }
			                        }
			                    }
	                        }
	                    }
	                }
	            }
	            .box-reward {
	                margin-bottom: 15px;
	                padding-bottom: 15px;
	                &:last-child {
	                	border-bottom: 1px solid rgba(172, 172, 172, 0.3);
	                }
	                .view {
	                    right: 10px;
	                    bottom: 10px;
                        font-size: 10px;
                        line-height: 14px;
	                }
	                .tbl {
	                    .cell {
	                        &.img-reward {
	                            width: 90px;
	                            padding-right: 15px;
	                            padding-left: 15px;
	                        }
	                        .t {
	                            font-size: 13px;
	                            line-height: 18px;
	                            margin-bottom: 3px;
	                        }
	                        .time {
	                            font-size: 11px;
	                            line-height: 14px;
	                        }
	                    }
	                }
	            }
	            .box-appo {
	                padding: 10px 20px;
	                .view {
	                    right: 10px;
	                    bottom: 10px;
	                    a {
	                        font-size: 10px;
	                        line-height: 14px;
	                    }
	                }
	                .tbl {
	                    .cell {
	                        &.wdate {
	                            width: 75px;
	                            padding-right: 20px;
	                            .in {
	                                padding: 5px 8px;
	                                .date {
	                                    font-size: 15px;
	                                    line-height: 20px;
	                                }
	                                .day {
	                                    font-size: 10px;
	                                    line-height: 15px;
	                                }
	                            }
	                        }
	                        .t {
	                            font-size: 13px;
	                            line-height: 18px;
	                            margin-bottom: 3px;
	                        }
	                        .time {
	                            font-size: 11px;
	                            line-height: 14px;
	                        }
	                    }
	                }
	            }
	            .button-account {
	                margin-top: 10px;
	                text-align: right;
	            }
	            .title-account2 {
	                font-size: 15px;
	                line-height: 22px;
	                margin-bottom: 10px;
	            }
	            ul.l-address {
	                li {
	                    margin-right: 15px;
	                    input.form-control {
	                        width: 80px;
	                    }
	                }
	            }
	        }
		}
	}
	.form-group {
	    margin-bottom: 20px;
	    label {
	        font-size: 13px;
	        line-height: 18px;
	        margin-bottom: 5px;
	    }
	}
	.form-control {
	    font-size: 14px;
	    line-height: 20px;
	    padding: 10px 15px;
	}
	.modal {
	    &.modal-global {
	    	&.modal-rewards {
	            .modal-dialog {
	            	width: 300px;
			        max-width: 300px;
	            }
	            .date-reward {
	                font-size: 11px;
	                line-height: 14px;
	                margin-left: 10px;
	            }
	            .radius-reward {
	                font-size: 11px;
	                line-height: 14px;
	                padding: 6px 14px;
	            }
	            .row-pop {
	            	margin-left: -5px;
	            	margin-right: -5px;
	            	> div {
	            		padding-left: 5px;
	            		padding-right: 5px;
	            	}
	            }
	            .t1 {
	                margin-bottom: 3px;
	                font-size: 10px;
	                line-height: 14px;
	            }
	            .t2 {
	                font-size: 9px;
	                line-height: 12px;
	            }
	            .pad-pop {
	                padding: 20px 20px;
	            }
	            .mb25 {
	                margin-bottom: 20px;
	            }
	            .mb40 {
	                margin-bottom: 30px;
	            }
	            ul {
	                li {
	                    font-size: 13px;
	                    line-height: 18px;
	                }
	            }
	        }
	    	&#modal-signup, &#modal-redeem {
	    		.img-success {
	    			img {
	    				width: 120px;
	    			}
	    		}
	    	}
	        .img-success {
	            margin: 0 auto 30px;
	            img {
	            	width: 180px;
	            }
	        }
	        .pad-pop {
	            padding: 40px 20px;
	        }
	        .img-pop {
	            img {
	                width: 120px;
	            }
	        }
	        .t-pop {
	            font-size: 16px;
	            line-height: 25px; 
	            margin-bottom: 15px;
	        }
	        .t-pop2 {
	        	margin-bottom: 20px;
	        	p {
	        		font-size: 13px;
	        		line-height: 18px;
	        	}
	        }
	        ul.l-btn {
	        	text-align: center;
	            li {
	                margin-right: 0;
	                margin-bottom: 10px;
	                display: block;
	                &:last-child {
	                    margin-bottom: 0;
	                }
	                a {
	                    display: block;
	                    .hvr-button {
	                        min-width: 200px;
	                    }
	                }
	            }
	        }
	    }
	    .modal-dialog {
	        width: 300px;
	        max-width: 300px;
	    }
	}
}
