@media (max-width: 991px) {
	header {
		padding: 10px 0;
		.logo {
			margin-right: 0;
		}
		.menu {
			display: inline-block;
			margin-right: 20px;
			vertical-align: middle;
			cursor: pointer;
			@include transition(all 0.3s);
			&:hover {
				opacity: 0.7;
			}
			i {
				color: white;
				font-size: 17px;
			}
		}
		ul.main-menu {
			display: none;
		}
		ul.l-login {
			li {
				&.account {
					a {
						img {
							width: 15px;
							margin-right: 3px;
							position: relative;
							top: -1px;
						}
					}
				}
				a {
					font-size: 11px;
				}
			}
		}
	}
	#main {
		.title-global {
	        font-size: 25px;
	        line-height: 35px;
	        margin-bottom: 30px;
	    }
	    .banner-global {
	        height: 350px;
	        .css-breadcrumb {
	            top: 15px;
	            ul {
	                li {
	                    font-size: 12px;
	                    line-height: 17px;
	                    margin-right: 7px;
	                    a {
	                        font-size: 12px;
	                        line-height: 17px;
	                    }
	                }
	            }
	        }
	        .title {
	            font-size: 30px;
	            line-height: 50px;
	        }
	    }
	    .css-appo {
	        padding-bottom: 60px;
	        .box-form-appo {
	            margin-top: 40px;
	            .mb40 {
	                margin-bottom: 30px;
	            }
	            .form-group {
	            	&.form-date {
	                    width: 100%;
	                }
	            }
	            .title-appo {
	                font-size: 18px;
	                line-height: 26px;
	                margin-bottom: 20px;
	            }
	        }
            ul.css-breadcrumb {
            	padding: 30px 0 40px;
                li {
                    font-size: 12px;
                    line-height: 17px;
                    margin-right: 7px;
                    a {
                        font-size: 12px;
                        line-height: 17px;
                    }
                }
            }
            .button-appo {
	            margin-top: 40px;
	        }
	        .t-thank {
	            font-size: 25px;
	            line-height: 35px;
	            margin-bottom: 20px;
	        }
	        .bdy-thank {
	            margin-bottom: 40px;
	        }
	        .img-success {
	            margin-top: 20px;
	            margin-bottom: 25px;
	            img {
	                width: 60px;
	            }
	        }
	        .img-oppo2 {
	            img {
	                width: 100%;
	            }
	        }
	        .img-appo {
	        	img {
	        		width: 340px;
	        	}
	        }
	        .title {
	            font-size: 25px;
	            line-height: 35px;
	            margin-bottom: 20px;
	        }
	        .bdy {
	            margin-bottom: 30px;
	        }
	        ul.l-time {
	            li {
	                margin-right: 15px;
	                a {
	                    font-size: 14px;
	                    line-height: 20px;
	                    min-width: 80px;
	                    padding: 12px 15px;
	                }
	            }
	        }
	    }
	    .css-services {
	    	padding: 60px 0;
	        .t1 {
	            font-size: 20px;
	            line-height: 25px;
	            margin-bottom: 30px;
	        }
	        .t2 {
	            margin-bottom: 60px;
	            p {
	                font-size: 14px;
	                line-height: 20px;
	            }
	        }
	        .in-services {
	            margin-bottom: 60px;
	            .title {
	                font-size: 20px;
	                line-height: 30px;
	                margin-bottom: 10px;
	            }
	            .address {
	                margin-bottom: 20px;
	                p {
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
	        }
	        .banner-servies {
	            .title {
	                font-size: 20px;
	                line-height: 30px;
	                margin-bottom: 8px;
	            }
	            .text {
	                p {
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
	            .link {
	                a {
	                    button.hvr-button {
	                        min-width: 180px;
	                    }
	                }
	            }
	        }
	        .bg-services-product {
	            padding: 70px 0 80px;
	            .t-product {
	                font-size: 20px;
	                margin-bottom: 30px;
	            }
	            .slider-services {
	                .item {
	                    a {
	                        .nm {
	                            font-size: 14px;
	                            line-height: 20px;
	                            margin: 15px 0 5px;
	                        }
	                        .bdy {
	                            p {
	                                font-size: 13px;
	                                line-height: 17px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
	        .controls {
	            margin-bottom: 50px;
	            .row {
	            	margin-left: -5px;
	            	margin-right: -5px;
	            	> div {
	            		padding-left: 5px;
	            		padding-right: 5px;
	            	}
	            }
	            .control {
	                padding: 10px 15px;
	                height: 60px;
	                letter-spacing: 0px;
	                font-size: 12px;
	                line-height: 17px;
	                img {
	                	width: 16%;
	                }
	            }
	        }
	        .box-services {
	            .mix {
	                .tbl {
	                    .cell {
	                        &.w-img {
	                            width: 230px;
	                            padding-right: 25px;
	                        }
	                        &.w-text {
	                            padding-right: 25px;
	                            &:before {
	                                height: 20px;
	                            }
	                            &:after {
	                                height: 20px;
	                            }
	                            .t-mix {
	                                margin-bottom: 10px;
	                                a {
	                                    font-size: 16px;
	                                    line-height: 22px;
	                                }
	                            }
	                            .bdy-mix {
	                            	p {
	                            		height: 68px;
	                            		font-size: 12px;
	                            		line-height: 17px;
	                            	}
	                            }
	                        }
	                        &.btn-mix {
	                            width: 110px;
	                            padding-left: 15px;
	                            padding-right: 15px;
	                            a {
	                                button.hvr-button {
	                                    min-width: 90px;
	                                    font-size: 11px;
	                                    line-height: 15px;
	                                    padding: 7px 10px;
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
	    }
		.css-home {
			.slider-home {
	            .item {
	                .banner-home {
	                    height: 500px;
	                    .abs-banner {
	                        top: calc(50% + 20px);
	                        .t-banner {
	                            font-size: 35px;
	                            line-height: 40px;
	                            margin-bottom: 15px;
	                        }
	                        .bdy-banner {
	                            border-left: 2px solid $gold;
	                            padding-left: 15px;
	                            margin-bottom: 40px;
	                            p {
	                                font-size: 13px;
	                                line-height: 20px;
	                            }
	                        }
	                    }
	                }
	            }
	        }
			.bg-home {
	            height: 350px;
	            .abs1, .abs2 {
	                bottom: 30px;
	            }
	            .pl70 {
	                padding-left: 30px;
	            }
	            .t1 {
	                font-size: 14px;
	                line-height: 20px;
	            }
	            .t2 {
	                font-size: 18px;
	                line-height: 26px;
	            }
	        }
	        .bg-about {
	            padding: 60px 0;
	            .img {
	            	img {
	            		width: 350px;
	            	}
	            }
	            .t1 {
	                font-size: 25px;
	                line-height: 35px;
	                margin-bottom: 30px;
	            }
	            .bdy {
	                p {
	                    font-size: 14px;
	                    line-height: 20px;
	                }
	            }
	        }
			.bg-choose {
	            .bdr-choose {
	                padding: 40px;
	            }
	            .in {
	                .img {
	                	img {
	                		height: 100px;
	                	}
	                }
	                .t1 {
	                    font-size: 24px;
	                    line-height: 30px;
	                }
	            }
	        }
			.bg-service {
	            padding: 60px 0;
	            a {
	                margin-bottom: 30px;
	                .tbl {
	                	.cell {
	                		&.img {
	                			width: 120px;
	                		}
	                	}
	                }
	            }
	            .text-link {
	                a {
	                    font-size: 13px;
	                    line-height: 18px;
	                    img {
	                        margin-left: 5px;
	                    }
	                }
	            }
	        }
			.bg-featured {
	            padding: 60px 0;
	            .row {
	                margin-left: -5px;
	                margin-right: -5px;
	                > div {
	                    padding-left: 5px;
	                    padding-right: 5px;
	                }
	            }
	            .bg {
	            	padding: 0 5px;
	            }
	            .pad {
	                padding: 40px 10px 0;
	                .t1 {
	                    font-size: 13px;
	                    line-height: 18px;
	                }
	                .t2 {
	                    font-size: 18px;
	                    line-height: 25px;
	                    letter-spacing: 0.3px;
	                    margin-bottom: 15px;
	                }
	                .img {
	                    margin-bottom: 15px;
	                }
	                .link {
	                    margin-bottom: 20px;
	                    a {
	                        button.hvr-button {
	                            font-size: 13px;
	                            line-height: 18px;
	                            padding: 8px 20px;
	                        }
	                    }
	                }
	                ul.l-featured {
	                    li {
	                        margin-bottom: 8px;
	                        font-size: 12px;
	                        line-height: 15px;
	                        img {
	                            top: -2px;
	                            margin-right: 5px;
	                            height: 10px;
	                        }
	                    }
	                }
	            }
	            .text-link {
	                margin-top: 20px;
	                a {
	                    font-size: 13px;
	                    line-height: 18px;
	                    img {
	                        margin-left: 5px;
	                    }
	                }
	            }
	        }
			.bg-testi {
	            padding: 60px 0;
	            .slider-testi {
	                .item {
	                    padding: 0 8px;
	                    .in {
	                        padding: 20px 15px;
	                        .bdy-testi {
	                            p {
	                                font-size: 13px;
	                                line-height: 18px;
	                                &.mb15 {
	                                    margin-bottom: 10px;
	                                }
	                            }
	                        }
	                        ul.l-star {
	                            margin: 10px 0 0;
	                            li {
	                                margin-right: 2px;
	                                i {
	                                    font-size: 16px;
	                                }
	                            }
	                        }
	                    }
	                }
	            }
	        }
			.bg-partner {
	            padding: 60px 0 80px;
	            .slider-partner {
	                .slick-dots {
	                    bottom: -50px;
	                    li {
	                        width: 50px;
	                        height: 3px;
	                        button {
	                            width: 50px;
	                            height: 3px;
	                        }
	                    }
	                }
	            }
	        }
	        .bg-app {
	            padding: 20px 0 80px;
	            .title-global {
	                margin-bottom: 30px;
	            }
	            ul.l-app {
	                li {
	                    margin-right: 30px;
	                    a {
	                    	img {
	                    		width: 130px;
	                    	}
	                    }
	                }
	            }
	            .bdy {
	                margin-bottom: 30px;
	                p {
	                    font-size: 13px;
	                    line-height: 18px;
	                }
	            }
	            .img {
	                img {
	                    height: 400px;
	                }
	            }
	        }
			.bg-email {
	            padding: 60px 0;
	            .in {
	                padding: 50px 60px;
	                .t1 {
	                	font-size: 25px;
	                	line-height: 30px;
	                }
	            }
	        }
		}
		.css-gallery {
			.bg-review {
	            padding: 50px 0;
	            .item-review {
	                .slider-review {
	                    height: 120px;
	                    .slick-prev {
	                        left: 5px;
	                        width: 15px;
	                        height: 15px;
	                        &:before {
	                            font-size: 10px;
	                        }
	                    }
	                    .slick-next {
	                        right: 5px;
	                        width: 15px;
	                        height: 15px;
	                        &:before {
	                            font-size: 10px;
	                        }
	                    }
	                    .item {
	                        img {
	                            height: 120px;
	                        }
	                    }
	                }
	                .mb20 {
	                    margin-bottom: 20px;
	                }
	                .pad-review {
	                    padding: 5px 10px 15px;
	                    ul.l-star {
	                        li {
	                            margin-right: 1px;
	                            img {
	                                width: 10px;
	                            }
	                        }
	                    }
	                    .date {
	                        font-size: 10px;
	                        line-height: 12px;
	                    }
	                    .nm {
	                        font-size: 10px;
	                        line-height: 12px;
	                        margin-bottom: 5px;
	                    }
	                    .t {
	                        margin-bottom: 5px;
	                        font-size: 12px;
	                        line-height: 16px;
	                        height: 35px;
	                    }
	                    .desc {
	                        &.h100 {
	                            p {
	                                height: 65px;
	                            }
	                        }
	                        p {
	                            height: 135px;
	                            font-size: 12px;
	                            line-height: 17px;
	                        }
	                    }
	                }
	            }
	            .abs {
	                top: 50px;
	                img {
	                	width: 180px;
	                }
	            }
	            .img-review {
	                img {
	                    height: 80px;
	                }
	            }
	            .mb60 {
	                margin-bottom: 50px;
	            }
	            .mt30 {
	                margin-top: 20px;
	            }
	            .mt60 {
	                margin-top: 40px;
	            }
	            .mt90 {
	                margin-top: 70px;
	            }
	            .t-review {
	                font-size: 20px;
	            	line-height: 26px;
	                left: 50px;
	                top: 50px;
	            }
	        }
	        .bg-gallery {
		        padding: 50px 0;
	        }
	        .t1 {
	            font-size: 20px;
	            line-height: 26px;
	            margin-bottom: 20px;
	        }
	        .img-big {
	            a {
	                img {
	                    height: 300px;
	                    &.video {
	                        width: 50px;
	                        height: 50px;
	                    }
	                }
	            }
	        }
	        .img-small {
	            a {
	                img {
	                    height: 170px;
	                    &.video {
	                        width: 30px;
	                        height: 30px;
	                    }
	                }
	            }
	        }
	    }
		.css-about {
	        padding: 50px 0;
	        .img {
	            padding-right: 0;
	        }
	        .t1 {
	            font-size: 20px;
	            line-height: 25px;
	            margin-bottom: 15px;
	            &.mb80 {
	                margin-bottom: 20px;
	            }
	        }
	        .mb80 {
	            margin-bottom: 60px;
	        }
	        .bdy {
	            p {
	                font-size: 14px;
	                line-height: 20px;
	            }
	        }
	        ul.l-values {
	            li {
	                .img-values {
	                    img {
	                        height: 250px;
	                    }
	                }
	                .abs-values {
	                    font-size: 14px;
	                    line-height: 20px;
	                    bottom: 15px;
	                    padding: 0 20px;
	                }
	            }
	        }
	        .item-services {
	            a {
	                .img-services {
	                    img {
	                        width: 100%;
	                    }
	                }
	                .t-services {
	                    margin: 8px 0 5px 0;
	                    font-size: 15px;
	                    line-height: 22px;
	                }
	            }
	        }
	    }
	    .css-auth {
	        .banner {
	            background-size: cover !important;
	            padding: 110px 0;
	        }
	    }
	    ul.css-radio {
	        li {
	            margin-bottom: 8px;
	            a {
	                font-size: 13px;
	                label {
	                    font-size: 13px !important;
	                }
	            }
	        }
	    }
	    .css-product {
	        padding: 60px 0;
	        &.css-detail {
	        	padding-bottom: 60px;
	        	ul.css-breadcrumb {
	                li {
	                    font-size: 12px;
	                    line-height: 17px;
	                    margin-right: 7px;
	                    a {
	                        font-size: 12px;
	                        line-height: 17px;
	                    }
	                }
	            }
	            .pl30 {
	                padding-left: 25px;
	                .box-category {
	                    font-size: 14px;
	                    line-height: 20px;
	                    padding: 8px 20px;
	                    min-width: 200px;
	                    margin-bottom: 40px;
	                }
	                .nm-detail {
	                    font-size: 20px;
	                    line-height: 30px;
	                    margin-bottom: 5px;
	                }
	                .price-detail {
	                    font-size: 20px;
	                    line-height: 30px;
	                    margin-bottom: 30px;

	                }
	                .desc-detail {
	                    margin-bottom: 50px;
                        font-size: 14px;
                        line-height: 22px;
                        p {
                        	font-size: 14px;
                        	line-height: 22px;
                        }
	                    .mb20 {
	                    	margin-bottom: 15px;
	                    }
	                }
	                ul.l-btn {
	                    li {
	                        margin-right: 15px;
	                        a {
	                            button.hvr-button {
	                                min-width: 140px;
	                                font-size: 13px;
	                                line-height: 18px;
	                                padding: 10px 20px;
	                            }
	                        }
	                    }
	                }
	            }
	        	ul.nav-product-detail {
	                margin: 60px 0 0;
	            }
	            .tab-product-detail {
	                margin-bottom: 60px;
	                padding-top: 20px;
	                .bdy {
	                    p {
	                        font-size: 14px;
	                        line-height: 20px;
	                    }
	                }
	            }
	        	.t-product {
	                font-size: 18px;
	                line-height: 26px;
	                margin-bottom: 20px;
	            }
	            .slider-related {
	                .slick-prev {
	                    left: -30px;
	                    width: 30px;
	                    height: 30px;
	                    &:before {
	                        font-size: 15px;
	                    }
	                }
	                .slick-next {
	                    right: -30px;
	                    width: 30px;
	                    height: 30px;
	                    &:before {
	                        font-size: 15px;
	                    }
	                }
	            }
	        }
	        .t-filters {
	            font-size: 16px;
	            img {
	            	width: 14px;
	                margin-right: 5px;
	                top: -2px;
	            }
	        }
	        .reset {
	            font-size: 12px;
	            line-height: 15px;
	        }
	        .accordion-filter {
	            margin-top: 20px;
	            .title-accordion {
	                font-size: 14px;
	                line-height: 20px;
	                .in {
	                    padding: 10px 10px;
	                }
	                i {
	                    font-size: 11px;
	                }
	            }
	            .pad {
	                padding: 0 10px 10px 10px;
	            }
	        }
	        ul.nav-product {
	            margin-bottom: 20px;
	            li {
	                a {
	                	height: 40px;
	                    padding: 10px 12px;
	                    font-size: 12px;
	                    line-height: 19px;
	                    img {
	                        width: 17%;
	                        margin-left: 10px;
	                    }
	                }
	            }
	        }
	        .item-product {
                margin-bottom: 30px;
                a {
                    .nm {
                        font-size: 13px;
                        line-height: 18px;
                        margin: 10px 0 0;
                    }
                    .price {
                        margin-bottom: 8px;
                        font-size: 12px;
                        line-height: 15px;
                    }
                    .bdy {
                        margin-bottom: 10px;
                        p {
                            font-size: 13px;
                            line-height: 18px;
                        }
                    }
                    .txt {
                        font-size: 11px;
                        line-height: 14px;
                    }
                }
            }
	    }
	    .css-buy {
	    	&.css-buy-detail {
	            .pad60 {
	                padding: 50px 0;
	            }
	            .price {
	                font-size: 20px;
	                line-height: 26px;
	            }
	            .box-desc {
	                padding: 20px 20px 10px;
	                .nm {
	                    font-size: 17px;
	                    line-height: 24px;
	                }
	                .txt {
	                    img {
	                        margin-right: 5px;
	                    }
	                    font-size: 13px;
	                    line-height: 20px;
	                }
	            }
	            .link {
	                margin-bottom: 20px;
	            }
	            .date {
	                font-size: 13px;
	                line-height: 18px;
	            }
	            ul.l-buy {
	                li {
	                    margin-right: 30px;
	                    a {
	                        padding: 0 30px 10px;
	                    }
	                }
	            }
	            .box-content-buy {
	                padding: 40px 0;
	                .t {
	                    font-size: 18px;
	                    line-height: 25px;
	                    margin-bottom: 40px;
	                }
	                .item-details {
	                    margin-bottom: 30px;
	                    .t-details {
	                        font-size: 13px;
	                        line-height: 18px;
	                        margin-bottom: 5px;
	                    }
	                    .t2-details {
	                        font-size: 15px;
	                        line-height: 20px;
	                    }
	                }
	            }
	        }
	    	.banner-sell {
	            padding: 80px 0;
	            .t-sell {
	                font-size: 25px;
	                line-height: 35px;
	                margin-bottom: 20px;
	            }
	            .box-sell {
	                padding: 30px;
	                .t {
	                    font-size: 16px;
	                    line-height: 24px;
	                    margin-bottom: 20px;
	                }
	                .form-group {
	                    margin-bottom: 20px;
	                    label {
	                        font-size: 14px;
	                    }
	                }
	            }
	            ul.l-sell {
	                li {
	                    font-size: 14px;
	                    line-height: 20px;	                    &:before {
	                        top: 6px;
	                    }
	                }
	            }
	        }
	    	.pad80 {
	            padding: 60px 0;
	        }
	        .item-used {
	            margin-bottom: 20px;
	            a {
	                padding: 15px 0;
	                .pad20 {
	                    padding: 0 15px;
	                }
	            }
	        }
	    }
	    .css-account {
	    	padding: 50px 0;
			.left-account {
				ul.l-account {
					li {
						a {
							padding: 10px;
							font-size: 10px;
							line-height: 15px;
							img {
								width: 13px;
							}
						}
					}
				}
			}
			.right-account {
	            padding: 0 0 0 40px;
	            .box-profile-reward {
	                margin-bottom: 40px;
	                padding: 20px 20px 20px 40px;
	            }
	            ul.l-booking {
	                margin: 30px 0 0;
	                li {
	                    margin-right: 20px;
	                    a {
	                        .num {
	                            font-size: 14px;
	                            line-height: 18px;
	                            margin-bottom: 3px;
	                        }
	                        padding: 10px 60px 10px 20px;
	                        font-size: 13px;
	                        line-height: 15px;
	                    }
	                }
	            }
	            .box-booking {
	            	margin-bottom: 30px;
	                padding: 30px 10px 40px;
	                .item-booking {
	                    .form-booking {
	                        padding: 15px;
	                    }
	                    .tbl-booking {
	                    	&.tbl-hdr {
	                    		font-size: 11px;
	                    		line-height: 16px;
	                    		letter-spacing: 0;
	                    	}
	                    	&.tbl-bdy {
	                    		font-size: 11px;
	                    		line-height: 16px;
	                    	}
	                        .cell {
	                            &.w1 {
	                                padding-left: 10px;
	                                .t1 {
	                                	font-size: 11px;
	                                	line-height: 16px;
	                                }
	                            }
	                            &.w2 {
	                                width: 120px;
	                            }
	                            &.w3 {
	                                width: 70px;
	                            }
	                            &.w4 {
	                                width: 80px;
	                            }
	                            &.w5 {
	                                padding-right: 5px;
	                                width: 55px;
	                            }
	                            ul.l-edit {
			                        li {
			                        	margin-right: 5px;
			                            a {
			                                font-size: 15px;
			                            }
			                        }
			                    }
	                        }
	                    }
	                }
	            }
	            .item-catalogue {
	                margin-bottom: 40px;
	                a {
	                	.t1 {
	                        font-size: 13px;
	                        line-height: 18px;
	                    }
	                    .t2 {
	                        font-size: 11px;
	                        letter-spacing: 0px;
	                        line-height: 14px;
	                    }
	                }
	            }
	            .item-reward {
	                margin-bottom: 30px;
	                a {
	                	.t1 {
	                        font-size: 13px;
	                        line-height: 18px;
	                    }
	                    .t2 {
	                        font-size: 11px;
	                        letter-spacing: 0px;
	                        line-height: 14px;
	                    }
	                }
	            }
	            .box-my-reward {
	            	margin-bottom: 30px;
	                padding: 30px;
	                ul.l-my-reward {
	                    li {
	                        margin-right: 30px;
	                        .img-my-reward {
	                            img {
	                                width: 40px;
	                            }
	                        }
	                    }
	                }
	            }
	            .box-account {
	            	margin-top: 30px;
	                padding: 20px 30px;
	                margin-bottom: 20px;
	                .name {
	                    margin-bottom: 10px;
	                    font-size: 18px;
	                    line-height: 24px;
	                }
	                .bdy {
	                	margin-bottom: 20px;
	                    width: 100%;
	                }
	                .img-profile {
	                    position: relative;
	                    top: -50px;
	                    right: 0;
	                    img {
	                        height: auto;
    						width: 100%;
	                    }
	                }
	            }
	            .title-account {
	                font-size: 17px;
	                line-height: 25px;
	                &.mb20 {
	                    margin-bottom: 15px;
	                }
	            }
	            .mb70 {
	                margin-bottom: 50px;
	            }
	            .mt30 {
	            	margin-top: 30px;
	            }
	            .box-reward {
	                .tbl {
	                    .cell {
	                        &.img-reward {
	                            width: 100px;
	                            padding-left: 20px;
	                        }
	                    }
	                }
	            }
	        }
		}
	}
	.box-wa {
		bottom: 20px;
	}
	footer {
	    padding: 20px 0;
	    ul.l-footer {
	        li {
	            margin-right: 80px;
	        }
	    }
	    .text-end {
	    	text-align: left !important;
	    }
	    .t4 {
	    	right: 0;
	    	margin-top: 15px;
	    }
	}
}